<template>
  <div class="app flex-row align-items-center bg-login">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="fa fa-language"></i></span>
                  <select class="form-control" v-model="usedLanguageId" @change="changeLanguage()">
                      <option v-for="lan in languages" v-bind:value="lan.languageId" :key="lan.languageId">{{lan.languageName}}</option>
                  </select>
                </div>
                <h1>{{ $t('screen.name') }}</h1>
                <p class="text-muted">{{ $t('login.descriptive') }}</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" v-model="username" class="form-control" :placeholder="$t('placeholder.username')">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" v-model="password" class="form-control" :placeholder="$t('placeholder.password')">
                </div>
                <b-row>
                  <b-col cols="4">
                    <b-button variant="primary" @click="doLogin()" class="px-4">{{ $t('button.login') }}</b-button>
                  </b-col>
                  <b-col cols="8" class="text-right">
                    <b-button variant="link" class="px-0">{{ $t('forgot.password') }}</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>{{ $t('button.sign.up') }}</h2>
                  <p>{{ $t('sign.up.descriptive') }}</p>
                  <b-button variant="primary" class="active mt-3">{{ $t('button.register') }}</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import commonConst from "@/common/const";
import axios from "axios";
var querystring = require("querystring");
import commonUtils from "@/common/utils";
import sysConf from "@/configs/config";

export default {
  name: "Login",
  components: {},
  data() {
    return {
      username: "",
      password: "",
      // TODO MUST GET LIST LANGUAGE FROM SERVER
      languages: [
        { languageId: 1, languageName: "日本人" },
        { languageId: 2, languageName: "English" }
      ],
      usedLanguageId: sysConf.default_language.CODE
    };
  },
  i18n: {
    messages: {
      en: require("@/i18n/login/MessageResources_en.json"),
      ja: require("@/i18n/login/MessageResources_ja.json")
    }
  },
  methods: {
    initialScreen: function() {
      var self = this;
      //self.$locale.change('en');
    },
    doLogin: function() {
      var self = this;

      // get data to submit server
      var formData = {
        grant_type: sysConf.client_secret.grantType,
        username: self.username,
        password: self.password
      };
      // authentication header client application
      var authHeader = {
        headers: {
          Authorization:
            "Basic " +
            btoa(
              sysConf.client_secret.clientId +
                ":" +
                sysConf.client_secret.clientSecret
            ),
          "Content-Type": "application/x-www-form-urlencoded"
        }
      };

      // get access token
      axios
        .post("/oauth/token", querystring.stringify(formData), authHeader)
        .then(function(retData) {
          // store access_token in localStorage
          commonUtils.localStorageUtils.set(
            commonConst.AUTHORIZATION_ACCESS_TOKEN_KEY,
            retData.access_token
          );
          self.$router.push("/home");
        })
        .catch(function(retData) {
          if (retData.response.status == 401) {
            alert("Client Secret key invalid");
          } else if (
            retData.response.data.error_description == "Bad credentials"
          ) {
            alert("User name or password invalid");
          }
        });
    },
    changeLanguage: function() {
      var self = this;

      // dummy code
      if (self.usedLanguageId == 1) {
        self.$locale.change("ja");
      } else if (self.usedLanguageId == 2) {
        self.$locale.change("en");
      } else {
        self.$locale.change("ja");
      }
    }
  },
  mounted: function() {
    var self = this;
    self.initialScreen();
  }
};
</script>
