<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ $t('404.code') }}</h1>
            <h4 class="pt-3">{{ $t('404.cause') }}</h4>
            <p class="text-muted">{{ $t('404.descriptive') }}</p>
          </div>
          <div class="input-prepend input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input id="prependedInput" class="form-control" size="16" type="text" :placeholder="$t('404.placeholder')">
            <span class="input-group-btn">
              <b-button variant="info">{{ $t('button.search') }}</b-button>
            </span>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404",
  i18n: {
    messages: {
      en: require("@/i18n/404/MessageResources_en.json"),
      ja: require("@/i18n/404/MessageResources_ja.json")
    }
  }
};
</script>
