<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">{{ $t('timeout.code') }}</h1>
            <h4 class="pt-3">{{ $t('timeout.cause') }}</h4>
            <p class="text-muted">{{ $t('timeout.descriptive') }}</p>
          </div>
          <b-row>
            <b-col md="3" sm="1">
            </b-col>
            <b-col md="3" sm="11">
                <b-button variant="primary">{{ $t('button.login') }}</b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "PageTimeout",
  i18n: {
    messages: {
      en: require("@/i18n/timeout/MessageResources_en.json"),
      ja: require("@/i18n/timeout/MessageResources_ja.json")
    }
  }
};
</script>
